flask==2.2.3        # Per creare un'applicazione web
flask-wtf==1.1.1    # Per gestire form con Flask
sqlalchemy==2.0.0   # Per gestire database relazionali
wtforms==3.0.1      # Per la gestione dei form
requests==2.31.0    # Per fare richieste HTTP
matplotlib==3.7.1   # Per la creazione di grafici
